
    body{
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .cont{
        border: 1px solid;
        padding:10px;
        width: 844px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 20px;
       
    }
    .sides{
        
        padding: 2px;
        width: 416px;
    }
    .grid{
        display: grid;
        grid-template-columns: 50% 50%;
        /* justify-content: space-around; */
    }
    h2{
        font-weight: lighter;
        margin: 0px;
        padding: 0px;
        font-size: 34px;
    }
    
    h5{
        margin: 10px 0px -8px 0px;
        padding: 0px;
        
        opacity: 90%;
        font-weight: 600;
    }
    .p{
       text-align: justify;
       font-size: 13.2px;
    }
    h3{
        border: 2px solid;
        width: 28%;
        border-left: none;
        border-right: none;
    }
    .school{
        margin: 1px 0px 0px 0px;

    }
    i{
        color: rgb(65, 64, 64);
        margin: 0px;
        font-size: 12px;
        opacity: 100%;
       
    }
    .strem{
        font-size: small;
        margin: 0px 0px 6px 0px;
    }
    .project{
        width: 26%;
    }
    .declaration{
        width: 34%;
        margin-bottom: 12px;
    }

    .contact{
        text-align: right;
    }
    .details{
        font-size: small;
        margin: 0px 0px 6px 0px;
    }
    

    .technical{
        width: 44%;
    }
    .tskill{
        background-color: rgb(138, 138, 138);
        margin: 0px 4px 0px 0px;
        padding: 6px 10px;
        border-radius: 6px;
        color: rgba(255, 255, 255, 0.733);
        font-size: 12px;
        

    }
    .achieve{
        width: 37%;
        margin-bottom: 12px;
    }
    .sskill{
        width: 30%;
        margin-bottom: 12px;
    }
    
    li{
        margin-left: 2px;
    }
    .Certificate{
       position: relative;
       top: -14px;
       font-size: 13px;
    }
   .lang{
        font-style: italic;
        color: rgb(34, 54, 68);
        font-size: small;
        padding: 0px;
        margin: 0px;
        margin-top: -12px;
   }
    .lan{
        margin-top: -12px;
        
    }
    .intrest{
        border: 1px solid;
        padding: 6px 8px;
        border-radius: 4px;
        font-size: 15px;
        text-align: center;
        
    }
    .one{
        width: 54%;
        margin-bottom: 2px;
        margin-top: 6px;
    }
    .two{
        width: 58%;
        margin-bottom: 2px;
        margin-top: 6px;
    }
    .last{
        margin-top: -11px;
        gap: 10px;
        grid-template-columns: 316px 80px;
    }
    .project-title{
        
        opacity: 100%;
        color: rgb(0, 0, 0);
        
    }
    .project-para{
        opacity: 90%;
    }
